<!--Menú de tres elementos Mantenimiento Configuración y Salir
-->
<h3>
{{=T("Mantenimientos: ")}} [<a href="{{=URL(r=request,c='principal',f='todos')}}"> Todos </a>]
                           [<a href="{{=URL(r=request,c='principal',f='usuario')}}"> Usuarios </a>]  
                           [<a href="{{=URL(r=request,c='principal',f='ubicacion')}}"> Ubicacion </a>] 
                           [<a href="{{=URL(r=request,c='principal',f='campana')}}"> Campaña </a>] 
                           [<a href="{{=URL(r=request,c='principal',f='ptoVenta')}}"> Punto de Venta </a>] 
                           [<a href="{{=URL(r=request,c='principal',f='evento')}}"> Evento </a>] 
                           [<a href="{{=URL(r=request,c='principal',f='ticket')}}"> Ticket </a>]{{pass}}<br/><br/>  
</h3>
