{{extend 'layout.html'}}
<div>
  <div>
    <p align="center"><strong>TERMINOS Y CONDICIONES</strong></p>
    <p align="justify"> <br />
      1. DE LA COMPRA.</p>
    <div align="justify">
      <ol type="a">
          <li>
            SUPERTICKET, es una marca registrada     de propiedad de Superticket S.A. persona jurídica cuyo objeto social,     para efectos de las presentes condiciones, es la impresión y comercialización     de entradas para eventos y espectáculos, así como la comercialización     de productos y servicios de terceras personas.</li>
        <li>
          El CLIENTE, es el usuario     previamente registrado en la pagina web <a href="http://www.superticket.com" target="_blank">www.superticket.com</a>, quien acepta     haber proporcionado toda la información personal requerida y es único     responsable por la veracidad de esta información. Quien suministre     información fraudulenta o use su entrada para falsificaciones o adulteraciones     será responsable de acuerdo a las Normas Legales establecidas en Guatemala.</li>
        <li>
          El PRODUCTOR es la empresa     jurídica, responsable único y exclusivo de la realización, cancelación     o postergación de un evento. De él dependen los horarios, condiciones     de seguridad, ubicaciones, organización, contenido del evento y cuyo     nombre e identificación figura en el anverso de la entrada.</li>
        <li>
          Las compras realizadas por     el sistema SUPERTICKET con tarjetas de débito o crédito, están sujetas     a la verificación de los datos y aceptación de la transacción por     parte de la entidad emisora de la tarjeta.</li>
        <li>
          El CLIENTE acepta conocer     que las entradas que compre tienen un costo adicional por el servicio     ofrecido a través del sistema SUPERTICKET, este costo puede ser variable     dependiendo del evento y será cancelado a SUPERTICKET S.A.</li>
        <li>
          El CLIENTE acepta que los     datos de evento, número de entradas, ubicaciones, valor de las entradas,     fechas y horas, han sido revisadas por él y la información ingresada     al sistema SUPERTICKET es de su entera responsabilidad.</li>
        <li>
          La venta de entradas con entrega     a domicilio, estarán disponibles en web y call center, hasta 96 horas     antes del evento.</li>
        <li>
          SUPERTICKET, no está obligado     a reponer entradas perdidas, deterioradas, rotas o robadas, estas son     de entera responsabilidad del CLIENTE.</li>
      </ol>
    </div>
    <p align="justify">2. DEL REEMBOLSO Y LA DEVOLUCION <br />
    </p>
    <div align="justify">
      <ol type="a">
        <li>No se aceptan cambios, reembolsos     ni cancelaciones de compra de entradas.</li>
        <li>En caso de postergación del     evento, las entradas conservarán su validez para la nueva fecha programada,     la cual será difundida en nuestra web y en diversos medios de comunicación.</li>
        <li>En caso de cancelación del     evento, el PRODUCTOR es el único responsable de reintegrar el dinero     correspondiente, en cuyo caso sólo se devolverá el valor de la entrada,     mas no los gastos de envío y el cobro por el uso del sistema SUPERTICKET.</li>
      </ol>
    </div>
    <ul><p align="justify">Para los pagos realizados con tarjetas   de crédito y débito, estos serán devueltos a su cuenta asociada al   tipo de tarjeta con la cual efectúo el pago de la entrada. 
      </p>
    </ul>
    <div align="justify">
    <ul>
      </ul>
    </div>
    <ul><p align="justify">Para los pagos realizados en efectivo,   El PRODUCTOR definirá el lugar donde se realizará la devolución   del valor de las entradas. Dicha información será publicada en   los diferentes medios de comunicación para el conocimiento de todos   los clientes. <br /></p>
    </ul>
    <p align="justify">3. DE LA ENTREGA DE ENTRADAS EN PUNTO   DE VENTA Y A DOMICILIO</p>
    <div align="justify">
      <ol type="a">
        <li>Las entradas adquiridas con     tarjeta de debito o crédito solo podrán ser recogidas por el titular     de la misma, quien deberá presentar la tarjeta con la que realizó     la compra, su cédula de identidad y el código de confirmación emitido     al finalizar el proceso de compra.</li>
        <li>Las entradas serán entregadas     en puntos de venta un día antes de realizado el evento, y el mismo     día, en la boletería donde se realiza el evento. Para los casos de     la entrega a domicilio, estas serán efectuadas hasta 48 horas antes     del evento, en caso de la no ubicación del titular de la compra, puede     recoger sus entradas en la sucursal de Correos de Guatemala más cercana     a su domicilio hasta 24 horas antes del evento, pasada esa fecha podrá     recogerlas el mismo día, en la boletería donde se realiza el evento.<br />
    </li>
      </ol>
    </div>
    <p align="justify">Ante cualquier consulta, favor comunicarse   al teléfono  2240-7758.</p>
  </div>
</div>
